.container {
    background: blueviolet;
    padding: 10px;
    margin-bottom: 20px;

    height: 200px;

    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.item {
    background: yellow;
    width: 100px;
    text-align: center;

    flex-basis: 80px;
}